
{% macro mdl_menu(id, name, options_dict, categories_list,
        floating_label='', starting_value='', size='normal',
        on_change='') -%}
{% if size == 'big' %}
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label bigselector">
{% elif size == 'small' %}
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label smallselector">
{% else %}
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{% endif %}
<select class="mdl-textfield__input" id="{{id}}" name="{{name}}" onChange="{{on_change}}">

    {% if categories_list %}
        {% for category in categories_list %}
        <optgroup label="{{category}}">
            {% for option_int_name, option_dict in options_dict.items() %}
                {% if category in option_dict.categories %}
                    {% if option_int_name|string == starting_value|string %}
                        <option value="{{option_int_name}}" selected>{{option_dict.display}}</option>
                    {% else %}
                        <option value="{{option_int_name}}">{{option_dict.display}}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </optgroup>
        {% endfor %}

    {% else %}
        {% for option_int_name, option_dict in options_dict.items() %}
            {% if option_int_name|string == starting_value|string %}
                <option value="{{option_int_name}}" selected>{{option_dict.display}}</option>
            {% else %}
                <option value="{{option_int_name}}">{{option_dict.display}}</option>
            {% endif %}
        {% endfor %}
    {% endif %}

</select>
{% if floating_label == '' %}
<label class="mdl-textfield__label" for="{{id}}">{{name}}</label>
{% else %}
<label class="mdl-textfield__label" for="{{id}}">{{floating_label}}</label>
{% endif %}
</div>
{%- endmacro %}
