.column {
    float: left;
    width: 50%;
    margin 1em;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.seedfield{
    width:100%;
    max-width:100px;
}

.bigselector{
    width:50%;
    max-width:175px;
}

.smallselector{
    width:25%;
    max-width:80px;
}
