<div class="stat-block">
	<hr class="orange-border" />
	<div class="section-left">
		<div class="creature-heading">
			<h1>{{ stat_block.name }}</h1>
			<h2>{{ stat_block.size }} construct, unaligned</h2>
		</div> <!-- creature heading -->
		<svg height="5" width="100%" class="tapered-rule">
	    <polyline points="0,0 400,2.5 0,5"></polyline>
	  </svg>
		<div class="top-stats">
			<div class="property-line first">
				<h4>Armor Class</h4>
				<p>{{ stat_block.armor }}</p>
			</div> <!-- property line -->
			<div class="property-line">
				<h4>Hit Points</h4>
				<p>{{ stat_block.hp }}</p>
			</div> <!-- property line -->
			<div class="property-line">
				<h4>Speed</h4>
				<p>{{ stat_block.speed }}</p>
			</div> <!-- property line -->
			<div class="property-line last">
				<h4>Proficiency</h4>
				<p>{{ stat_block.proficiency }}</p>
			</div> <!-- property line -->
			<svg height="5" width="100%" class="tapered-rule">
	    <polyline points="0,0 400,2.5 0,5"></polyline>
	  </svg>
			<div class="abilities">
				<div class="ability-strength">
					<h4>STR</h4>
					<p>{{ stat_block.attributes_dict['str'] }}</p>
				</div> <!-- ability strength -->
				<div class="ability-dexterity">
					<h4>DEX</h4>
					<p>{{ stat_block.attributes_dict['dex'] }}</p>
				</div> <!-- ability dexterity -->
				<div class="ability-constitution">
					<h4>CON</h4>
					<p>{{ stat_block.attributes_dict['con'] }}</p>
				</div> <!-- ability constitution -->
				<div class="ability-intelligence">
					<h4>INT</h4>
					<p>{{ stat_block.attributes_dict['int'] }}</p>
				</div> <!-- ability intelligence -->
				<div class="ability-wisdom">
					<h4>WIS</h4>
					<p>{{ stat_block.attributes_dict['wis'] }}</p>
				</div> <!-- ability wisdom -->
				<div class="ability-charisma">
					<h4>CHA</h4>
					<p>{{ stat_block.attributes_dict['cha'] }}</p>
				</div> <!-- ability charisma -->
			</div> <!-- abilities -->
			<svg height="5" width="100%" class="tapered-rule">
	    <polyline points="0,0 400,2.5 0,5"></polyline>
	  </svg>
            {% if stat_block.saves %}
            <div class="property-line first">
				<h4>Saves</h4>
				<p>{{ stat_block.saves }}</p>
			</div> <!-- property line -->
            {% endif %}
            {% if stat_block.skills %}
            <div class="property-line">
				<h4>Skills</h4>
				<p>{{ stat_block.skills }}</p>
			</div> <!-- property line -->
            {% endif %}
            {% if stat_block.damage_vulnerabilities %}
            <div class="property-line">
				<h4>Damage Vulnerabilities</h4>
				<p>{{ stat_block.damage_vulnerabilities }}</p>
			</div> <!-- property line -->
            {% endif %}
			{% if stat_block.damage_immunities %}
            <div class="property-line">
				<h4>Damage Immunities</h4>
				<p>{{ stat_block.damage_immunities }}</p>
			</div> <!-- property line -->
            {% endif %}
            {% if stat_block.damage_resistances %}
            <div class="property-line">
				<h4>Damage Resistances</h4>
				<p>{{ stat_block.damage_resistances }}</p>
			</div> <!-- property line -->
            {% endif %}
            {% if stat_block.condition_immunities %}
            <div class="property-line">
				<h4>Condition Immunities</h4>
				<p>{{ stat_block.condition_immunities }}</p>
			</div> <!-- property line -->
            {% endif %}
			<div class="property-line">
				<h4>Senses</h4>
				<p>{{ stat_block.senses }}</p>
			</div> <!-- property line -->
            {% if stat_block.languages %}
			<div class="property-line">
				<h4>Languages</h4>
				<p>{{ stat_block.languages }}</p>
			</div> <!-- property line -->
            {% endif %}
			<div class="property-line last">
				<h4>Challenge</h4>
				<p>{{ stat_block.cr }}</p>
			</div> <!-- property line -->
		</div> <!-- top stats -->
		<svg height="5" width="100%" class="tapered-rule">
	    <polyline points="0,0 400,2.5 0,5"></polyline>
	  </svg>
        {% for passive_trait in stat_block.passive_traits %}
		<div class="property-block">
			<h4>{{ passive_trait[0] }}.</h4>
			<p>{{ passive_trait[1]|safe }}</p>
		</div> <!-- property block -->
        {% endfor %}
	</div> <!-- section left -->
	<div class="section-right">
		<div class="actions">
			<h3>Actions</h3>
            {% for action in stat_block.action %}
			<div class="property-block">
				<h4>{{action[0]}}.</h4>
				<p>{{action[1]}}</p>
			</div> <!-- property block -->
            {% endfor %}
            {% for attack in stat_block.attacks %}
			<div class="property-block">
				<h4>{{attack[0]}}.</h4>
				<p>{{attack[1]}}</p>
			</div> <!-- property block -->
            {% endfor %}
		</div> <!-- actions -->
	</div> <!-- section right -->
	<hr class="orange-border bottom" />
</div> <!-- stat block -->